{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {{ object }}
    <table class=" table table-bordered">
        <tbody>

            <tr>
                <td>UUID</td>
                <td> {{ object.material_uuid }} </td>
            </tr>

            <tr>
                <td>Status</td>
                <td> {{ object.status }} </td>
            </tr>

            <tr>
                <td>Add Date</td>
                <td> {{ object.create_date }} </td>
            </tr>

        </tbody>
    </table>
    <a href="{% url 'material_update' pk=object.pk %}" class="btn btn-primary px-0">
        <i class="fa fa-edit fa-lg"> Edit</i>
    </a>
</div>
{% endblock %}
