packaging
certifi==2019.6.16
django==3.0.12
django-filter==2.3.0
djangorestframework==3.12
Markdown==3.1.1
pytz==2019.1
sqlparse==0.3.0
django-crispy-forms==1.9.2
psycopg2-binary
gunicorn
plotly
six
pyyaml
uritemplate
coreapi
django-url-filter
drf-spectacular
django-extensions==3.0.5
coreschema
drf-extensions
drf-flex-fields
numpy