{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load index %}

{% block content %}

<div class="container" >
    {% if not created_template %}
    <p> Create Experiment Template </p>
    <div class="row">
      <div class="col-md-12 text-secondary">
        <form method="post">{% csrf_token %}
        {{ experiment_template_create_form|crispy }}    
        <div>
          <button class="btn btn-outline-primary" type="submit" name="create_template" value="create_template">Create Experiment Template</button>
      </div>
      </form>
      </div>
    </div>
    {% endif %}

    {% if created_template %}
    <p>Created experiment {{ selected_reagents.template_name }}</p>
    <div class="row">
        <div class="col-md-12">
          {{ reagent_selection_form|crispy }}
            <form method="post" enctype="multipart/form-data">{% csrf_token %}

                <button class="btn btn-outline-primary" type="submit" name="select_reagents"
                  value="select_reagents">Select Reagents</button>
                </div>
              </div>
            </form>
    <div class="row">
      <div class="col-md-12">
          {{ action_sequence_selection_form|crispy }}
            <form method="post" enctype="multipart/form-data">{% csrf_token %}

                <button class="btn btn-outline-primary" type="submit" name="select_action_sequences"
                  value="select_action_sequences">Select Action Sequences</button>
                </div>
              </div>
              
          </form>
    {% endif %}
        



</div>

{% endblock %}