{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<section class="jumbotron" style="background-color: #00A9DE">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-2 has-text-centered" style="color: #254F6E">
                <div class="text-center">
                    <img src="{% static "Escalate_B-04.png" %}" alt="Escalate Logo" height="200" width="400"
                        class="img-fluid">
                </div>

            </h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form action="/" method="post">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    {{ person_form|crispy }}

                    <input class="btn btn-primary text-center" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}