{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<head>
  <link rel="stylesheet" href={% static "css/table-style.css" %}>
</head>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div class="alert alert-danger" role="alert"></div>
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
    {% endif %}

    <h3>Please select a lab organization before performing any experiment creation task</h3>


    {% autoescape off %}
    <!-- {{ plot_div }} -->
    <div class="wrapper">
      <div class="panel">
        <div class="panel-header">
          <h3 class="title">ESCALATE v3 Statistics</h3>
        </div>
 
        <div class="panel-body">
          <div class="categories">
            <div class="category">
              <span>Total Users</span>
              <span>{{ total_users }}</span>
            </div>
            <div class="category">
              <span>Total Experiments</span>
              <span>{{ total_experiments_created }}</span>
            </div>
            <div class="category">
              <span>Total Completed Experiments</span>
              <span>{{ total_experiments_completed }}</span>
            </div>
          </div>
 
          <div class="chart">
            <div class="experiments">
              <span class="exp-created">
                <span></span>Experiments Created
            </div>
            <!--  update this to display on hover-->
            <div class="created-stats">
              {{ total_experiments_created }}{{ total_experiments_created }}<span></span>
            </div>
 
            <svg width="563" height="204" class="data-chart" viewBox="0 0 563 204" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <path class="dataset-1" d=".046 97.208c2.895-.84 5.45-2.573 7.305-4.952L71.425 48.52c4.967-6.376 14.218-7.38 20.434-2.217l29.M30447 34.46c3.846 3.195 9.08 4.15 13.805 2.52l31.014-20.697c4.038-1.392 8.485-.907 12.13 1.32l3.906 2.39c5.03 3.077 11.43 2.753 16.124-.814l8.5-6.458c6.022-4.577 14.563-3.676 19.5 2.056l54.63 55.573c5.622 6.526 15.686 6.647 21.462.258l37.745-31.637c5.217-5.77 14.08-6.32 19.967-1.24l8.955 7.726c5.42 4.675 13.456 4.63 18.82-.11 4.573-4.036 11.198-4.733 16.508-1.735l61.12 34.505c4.88 2.754 10.916 2.408 15.45-.885L563 90.915V204H0v-87.312-12.627c5.62-.717 30.046-6.852 30.046-6.852z" fill="#7DC855" opacity=".9"/>
                <path class="lines" fill="#FFF" opacity=".2" d="M0 203h563v1H0zM0 153h563v1H0zM0 102h563v1H0zM0 51h563v1H0zM0 0h563v1H0z"/>
              </g>
            </svg>
 
          </div>
        </div>
      </div>
    {% endautoescape %}

    {% endblock %}

    {% block delete_block %}
    {% endblock %}