{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <!-- reaction parameters below -->
    {{ q1_param_formset.management_form }}
    <div class="treeview-animated border mx-4 my-4">
        <h6 class="pt-3 pl-3">Experiment Parameters for {{ experiment.description }}</h6>
        <hr>
        <ul class="treeview-animated-list">
            {% for f in q1_param_formset %}
                <li class="treeview-animated-items">
                    <a class="closed">
                    <i class="fas fa-angle-right"></i>
                    <span><i class="fas fa-table ic-w mx-1"></i>{{ q1_param_details|index:forloop.counter0 }}</span>
                    </a>
                    <ul class="nested">
                        <li>
                            {{ f|crispy }}
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
        <div class="text-right">
        <button class="btn btn-outline-primary" type="submit" name="update_param" value="update_param">
            Update Parameters
        </button>
    </div>
    <div class="text-right">
        {% if '/experiment_completed_instance/' in request.path %}
        <button class="btn btn-outline-primary" type="submit" name="exp_list" value="exp_list" formaction="{% url 'experiment_completed_instance' %}">
            Return to Completed Experiment
        </button>
        {% else %}
        <button class="btn btn-outline-primary" type="submit" name="exp_list" value="exp_list" formaction="{% url 'experiment_pending_instance' %}">
            Return to Experiment
        </button>
        {% endif %}
    </div>
</form>
{% endblock %}