{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}

<div class="container">
    {% if not selected_org %}
    <p> Choose your lab </p>
    <div class="row">
      <div class="col-md-12 text-secondary">
        <form method="post">{% csrf_token %}
          <select id='org_select' name='org_select' class='form-control selectpicker' data-style='btn-dark'
            data-live-search='true'>
            <option disabled>────────────</option>
            {% for org in user_person.added_organization.all %}
            <option value={{ org.uuid }} {% if request.session.current_org_name == org.full_name %} selected {% endif %}>
              {{ org.full_name }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-outline-primary" type="submit" name="select_org" value="select_org">Select Lab</button>
        </form>
      </div>
      {% endif %}
  
    </div>

{% endblock %}