{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>{{ title }}</h2>
            <table class="table table-striped table-bordered">
                <tbody>
                    {% for label, value in detail_data.items %}
                    <tr>
                        <td>{{ label }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Notes:</td>
                        <td>
                            {% for note in Notes %}
                            {{note|linebreaks}}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Documents:</td>
                        <td>
                            {% for edoc in Edocs %}
                            <a href="{{edoc.download_url}}" download>{{edoc.filename|linebreaks}}</a>
                            <embed src="{{edoc.download_url}}" type="image/png" height="700px" width="500">
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ update_url }}" class="btn btn-raised btn-primary active">
                <i class="fa fa-edit fa-lg"></i>Edit
            </a>
        </div>
    </div>
</div>
{% endblock %}