{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h3> {{ title }} </h3>
        <a href="#last">Jump to the end </a>

        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            {{ note_forms.management_form }}
            {{ note_forms.non_form_errors}}
            {% for note in note_forms %}
            {{ note|crispy }}
            {% endfor %}
            {{ tag_forms.management_form }}
            {{ tag_forms.non_form_errors}}
            {% for tag in tag_forms %}
            {{ tag|crispy }}
            {% endfor %}
            <button type="submit" name="update" value="update" class="btn btn-primary">Update</button>
            <input class="btn btn-primary text-center" type="submit" name="Submit" value="Submit">
        </form>
        <a id="last"></a>
    </div>
</div>

{% endblock %}