{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load toUnderscore %}

{% block content %}
{% with url_name=request.resolver_match.url_name %}
<div class="container">
  <form class="form my-2 my-lg-0" method="get" action="{% url url_name %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="{{filter}}"
      name="filter">
    <button class="btn btn-sm btn-raised btn-success my-2 my-sm-0 " type="submit"><i class="fa fa-search"></i></button>
    <a href="{{ add_url }}" class="btn btn-sm btn-raised btn-success mx-2 my-sm-0 view-add">Add {{ title }}</a>
  </form>
</div>
<p> </p>
 {% endwith %}

<div class="container">
  {% if export_urls %}
  <div class="export-buttons-container">
    {% for export_type, export_url in export_urls.items%}
      <button class="export-button export-{{export_type}}-button">
        <a href="{{export_url}}" style="color:black;" class="export-{{export_type}}">Export to {{export_type}}</a>
      </button>
    {% endfor %}
  </div>
  {% endif %}
  <form method="post">{% csrf_token %}
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered table-hover">
        <thead class="black white-text">
          <tr>
            {% for header in table_columns %}
            <th>
              {{ header }}
              <button type="submit" name="sort" value="{{header}}_asc" onclick="this.form.submit()">
                <i class="fas fa-sort-amount-up"></i>
              </button>
              <button type="submit" name="sort" value="{{header}}_des" onclick="this.form.submit()">
                <i class="fas fa-sort-amount-down-alt"></i>
              </button>
            </th>
            {% endfor %}
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <!-- {% for row_info in table_data %}
            <tr class="text-nowrap">
                {% for col_data in row_info.table_row_data %}
                <td>{{ col_data }}</td>
                {% endfor %}
                <td>
                    {% if row_info.download_url %}
                    <a href="{{ row_info.download_url }}" title="Download" class="btn btn-raised text-secondary px-1 view-detail">
                        <i class="fa fa-download"></i>
                    </a>
                    {% endif %}
                    <a href="{{ row_info.view_url }}" title="View" class="btn btn-raised text-secondary px-1 view-detail">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ row_info.update_url }}" title="Edit" class="btn btn-raised text-secondary px-1 view-update">
                        <i class="fa fa-edit"></i>
                    </a>
                    <button type="button" title="Delete" class="btn btn-raised text-secondary px-1" data-toggle="modal"
                        data-target="#deleteModal" data-description="{{ row_info.obj_name }}"
                        data-pk="{{ row_info.obj_pk }}">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
          {% endfor %} -->
          {% for row_info in table_data %}
          <tr class="text-nowrap">
            {% for col_data in row_info.table_row_data %}
            <td style="white-space:pre">{{ col_data }}</td>
            {% endfor %}
            <td>
              {% if row_info.download_url %}
                    <a title="Download" href="{{ row_info.download_url }}" class="btn btn-raised text-secondary px-1 view-detail">
                        <i class="fa fa-download"></i>
                    </a>
              {% endif %}
              <a title="Edit" href="{{ row_info.update_url }}" class="btn btn-raised text-secondary px-1 view-update">
                <i class="fa fa-edit"></i>
              </a>
              {% if row_info.outcome_url %}
              <a title="Outcome" href="{% url 'outcome' row_info.obj_pk %}" class="btn btn-raised text-secondary px-1 view-detail">
                <i class="fas fa-poll"></i>
              </a>
              {% endif %}
              {% if row_info.reagent_prep_url %}
              <a title="Reagent preparation" href="{% url 'reagent_prep' row_info.obj_pk %}" class="btn btn-raised text-secondary px-1 view-detail">
                <i class="fas fa-vial"></i>
              </a>
              {% endif %}
              <!--<a title="" href="{{ row_info.view_url }}" class="btn btn-raised text-secondary px-1 view-detail">
                <i class="fa fa-eye"></i>
              </a> -->
              <button title="Delete" type="button" class="btn btn-raised text-secondary px-2" data-toggle="modal"
                data-target="#deleteModal" data-description="{{ row_info.obj_name }}" data-pk="{{ row_info.obj_pk }}">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
  </form>
</div>
{% endblock %}

{% block delete_url %}"/{{ title|toUnderscore|lower }}/" + pk + "/delete" {% endblock %}