{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {{ object }}
    <table class=" table table-bordered">
        <tbody>
            <tr>
                <td>Description</td>
                <td> {{ object.description }} </td>
            </tr>

            <tr>
                <td> Note </td>
                <td> {{ object.note_uuid }} </td>
            </tr>

        </tbody>
    </table>
    <a href="{% url 'udf_def_update' pk=object.pk %}" class="btn btn-primary px-0">
        <i class="fa fa-edit fa-lg"> Edit</i>
    </a>
</div>
{% endblock %}
