{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block add_data %}
<form class="form-inline my-2 my-lg-0" method="get" action="{% url url_name %}">

    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="{{filter}}"
        name="filter">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    <a href="{% url 'tag_add' %}" class="btn btn-warning mx-2 my-sm-0">Add Tag</a>
</form>
{% endblock %}

{% block content %}
<div class="container">
    <table class=" table table-bordered">
        <thead>
            <tr>
                <th>Text</th>
                <th>Tag Type</th>
                <th>Actor</th>
                <th> Note </th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
                <td>{{ tag.display_text }}</td>
                <td>{{ tag.tag_type_short_descr}} </td>
                <td>{{ tag.actor_description}} </td>
                <td>{{ tag.notetext}} </td>
                <td>
                    <a href="{% url 'tag_view' pk=tag.pk %}" class="btn text-secondary px-0">
                        <i class="fa fa-eye"></i>
                    </a>
                    </a>
                    <a href="{% url 'tag_update' pk=tag.pk %}" class="btn text-secondary px-0">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                    <button type="button" class="btn text-secondary px-0" data-toggle="modal" data-target="#deleteModal"
                        data-description="{{ tag.description }}" data-pk="{{ tag.pk }}">
                        <i class="fa fa-trash fa-lg"></i>
                    </button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}

{% block delete_url %}"/tag/" + pk + "/delete" {% endblock %}
