{% load index %}
{% if not widget.is_hidden %}
<!-- Editable table -->
<div class="card">
    <div class="card-body">
      <div name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <td></td>
              <th class="text-center">A</th>
              <th class="text-center">B</th>
              <th class="text-center">C</th>
              <th class="text-center">D</th>
              <th class="text-center">E</th>
              <th class="text-center">F</th>
              <th class="text-center">G</th>
              <th class="text-center">H</th>
            </tr>
          </thead>
          <tbody>
              {% for row in widget.values %}
            <tr>
              <th scope="row">{{ forloop.counter }}</td>
              <td class="pt-1-half" contenteditable="true">{{ row|index:0 }}</td>
              <td class="pt-1-half" contenteditable="true">{{ row|index:1 }}</td>
              <td class="pt-1-half" contenteditable="true">{{ row|index:2 }}</td>
              <td class="pt-1-half" contenteditable="true">{{ row|index:3 }}</td>
              <td class="pt-1-half" contenteditable="true">{{ row|index:4 }}</td>
              <td class="pt-1-half" contenteditable="true">{{ row|index:5 }}</td>
              <td class="pt-1-half" contenteditable="true">{{ row|index:6 }}</td>
              <td class="pt-1-half" contenteditable="true">{{ row|index:7 }}</td>
            </tr>
            {% endfor %}
            <!-- This is our clonable table line -->
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endif %}