{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h3>{{ object }}</h3>
    <table class=" table table-bordered">
        <tbody>

            <tr>
                <td>ID</td>
                <td> {{ object.pk }} </td>
            </tr>
            <tr>
                <td>Description</td>
                <td> {{ object.description }} </td>
            </tr>
            <tr>
                <td>Material</td>
                <td> {{ object.material }} </td>
            </tr>
            <tr>
                <td>Actor</td>
                <td> {{ object.actor }}</td>
            </tr>
            <tr>
                <td>Part Number</td>
                <td> {{ object.part_no }} </td>
            </tr>
            <tr>
                <td>On Hand Amount</td>
                <td> {{ object.onhand_amt }} {{ object.unit }}</td>
            </tr>
            <tr>
                <td>Measure ID</td>
                <td> {{ object.measure_id }} </td>
            </tr>
            <tr>

                <td>Create Date</td>
                <td> {{ object.create_date }} </td>
            </tr>
            <tr>
                <td>Expiration Date</td>
                <td> {{ object.expiration_dt }} </td>
            </tr>
            <tr>
                <td>Inventory Location</td>
                <td> {{ object.inventory_location }} </td>
            </tr>
            <tr>
                <td>Status</td>
                <td> {{ object.status }} </td>
            </tr>
            <tr>
                <td>Document ID</td>
                <td> {{ object.document_id }} </td>
            </tr>
            <tr>
                <td>Note</td>
                <td> {{ object.note }} </td>
            </tr>

        </tbody>
    </table>
    <a href="{% url 'inventory_update' pk=object.pk %}" class="btn btn-primary px-0">
        <i class="fa fa-edit fa-lg"> Edit</i>
    </a>
</div>
{% endblock %}
