{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {{ object }}
    <table class=" table table-bordered">
        <tbody>
            <tr>
                <td>Full Name</td>
                <td> {{ object.full_name }} </td>
            </tr>
            <tr>
                <td>short_name</td>
                <td> {{ object.short_name }} </td>
            </tr>
            <tr>
                <td>Address</td>
                <td> {{ object.address1 }}, {{ object.address2 }}, {{ object.city }}, {{ object.state_province }},
                    {{ object.zip }}, {{ object.country }}</td>
            </tr>
            <tr>
                <td>Website</td>
                <td> {{ object.website_url }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td> {{ object.phone }} </td>
            </tr>
            <tr>
                <td>Parent Org</td>
                <td> {{ object.parent }} </td>
            </tr>
            <tr>
                <td>Note</td>
                <td> {{ object.notetext }} </td>
            </tr>
            <tr>
                <td>Edocument description</td>
                <td> {{ object.edocument_descr }} </td>
            </tr>
            <tr>
                <td>Tag description</td>
                <td> {{ object.tag_short_descr }} </td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'organization_update' pk=object.pk %}" class="btn btn-primary px-0">
        <i class="fa fa-edit fa-lg"> Edit</i>
    </a>
</div>
{% endblock %}