{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block add_data %}
<form class="form-inline my-2 my-lg-0" method="get" action="{% url url_name %}">

    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="{{filter}}"
        name="filter">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    <a href="{% url 'systemtool_add' %}" class="btn btn-warning mx-2 my-sm-0">Add SystemTool</a>
</form>
{% endblock %}

{% block content %}
<div class="container">
    <table class=" table table-bordered">
        <thead>
            <tr>
                <th>System Tool</th>
                <th>Organization</th>
                <th>System Tool Type</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            {% for systemtool in systemtools %}
            <tr>
                <td>{{ systemtool.systemtool_name }}</td>
                <td>{{ systemtool.organization_fullname}} </td>
                <td>{{ systemtool.systemtool_type_description }}</td>
                <td>{{ systemtool.ver}} </td>
                <td>
                    <a href="{% url 'systemtool_view' pk=systemtool.pk %}" class="btn text-secondary px-0">
                        <i class="fa fa-eye"></i>
                    </a>

                    </a>
                    <a href="{% url 'systemtool_update' pk=systemtool.pk %}" class="btn text-secondary px-0">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                    <button type="button" class="btn text-secondary px-0" data-toggle="modal" data-target="#deleteModal"
                        data-description="{{ systemtool.description }}" data-pk="{{ systemtool.pk }}">
                        <i class="fa fa-trash fa-lg"></i>
                    </button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}

{% block delete_url %}"/systemtool/" + pk + "/delete" {% endblock %}
