{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <form method="post" action="#">
            {% csrf_token %}
            {% for i in curr_reagents %}
            <div id="reagent{{i}}_grp" class="form-group">
                <label for="id_short_name" class="">Reagent {{i}} </label>
                <select class="selectpicker form-control" multiple data-live-search="true" name='reagent{{i}}'>
                    {% for material in materials %}
                    <option uuid={{material.uuid}}>{{material.abbreviation}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
            <button type="submit" name="newReagent" value="newReagent" class="btn btn-primary">Add
                Reagent</button>
            <input type="hidden" id="currReagents" name="currReagents" value="{{curr_reagents|last}}">
            <button type="submit" name="save" value="save" class="btn btn-primary">Save</button>

        </form>

    </div>





</div>

{% endblock %}
